@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

:root{
  --primary-color: #1b1f24;
  --primary-color-hover: #274049;
  --primary-light-color: #22282f;
  --primary-theme-color: #12bdff;
  --primary-white: #fff;
  --primary-yellow: #ffba53;
  --primary-yellow-hover: #ff8f8f;
  --primary-grey:#969595;
}
.btn{
  background-color: var(--primary-color);
  color: var(--primary-theme-color);
  border-color: var(--primary-theme-color);
  padding: 8px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
  justify-content: space-between;
}
.btn2{
  margin-right: 5px;
}
.btn:hover{
  box-shadow: 2px 2px 10px var(--primary-theme-color);
}
a{
  text-decoration: none;
  color: var(--primary-white);
}
img{
  width: 100%;
  height: auto;
}
input[type='color']::-webkit-color-swatch{
  border: none;
}
.theme-picker{
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.blue-span{
  color: var(--primary-theme-color);
}
.submit-btn{
  font-weight: 900;
  padding: 10px;
  background-color: var(--primary-theme-color);
  color: var(--primary-white);
  border-radius: 10px;
  border: none;
  /* cursor: pointer; */
}
.submit-btn:hover{
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-white);
}
/* header style */
header{
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--primary-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
header ul{
  display: flex;
  list-style: none;
}
header ul li{
  margin-right: 20px;
}
header ul li a{
  text-decoration: none;
  color: var(--primary-white);
}
header ul li a:hover{
  color: var(--primary-theme-color);
}
header button{
  font-weight: 900;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--primary-theme-color);
  border: 2px solid var(--primary-theme-color);
  border-radius: 10px;
}
header button:hover{
  cursor: pointer;
  background-color: var(--primary-theme-color);
  color: var(--primary-white);
}
.logo-text{
  letter-spacing: 2px;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}
.header-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.menu-icon{
  display: none;
}
.cancel-icon{
  display: none;
}
.hero-img img{
  width: 500px;
  transition: transform 0.5s;
}
.hero-img img:hover{
  transform: translateY(-6px);
}
.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}
.hero-text{
  color: var(--primary-white);
  padding: 20px;
}
.social-icon{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  font-size: 35px;
  gap: 15px;
  transition: transform 0.5s;
}
.social-icon a i.fa-linkedin:hover{
  color: #0072b1;
  transform: translateY(-5px);
}
.social-icon a i.fa-github:hover{
  color: #4078c0;
  transform: translateY(-5px);
}
.social-icon a i.fa-facebook:hover{
  color: #0072b1;
  transform: translateY(-5px);
}
/* about section */
.about-section{
  background-color: var(--primary-color);
  padding: 40px 80px;
  color: var(--primary-white);
}
.about-section h1{
  color: var(--primary-white);
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.about-area{
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.img-div img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--primary-light-color);
  border: 2px solid var(--primary-theme-color);
  box-shadow: 2px 2px 3px var(--primary-theme-color);
}

.about-dis h2{
  margin-bottom: 10px;
  font-size: 50px;
}
/* service section  */
.skill-section{
  background-color: var(--primary-light-color);
  color: var(--primary-white);
  display: flexd;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px;
}
.skill-section h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.service-cards-container{
  display: flex;
  margin-top: 20px;
}
.service-card{
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin: 0 10px;
}
.service-card:hover{
  background-color: var(--primary-color-hover);
  box-shadow: 2px 5px 20px var(--primary-color);
}
.service-card a{
  color: var(--primary-yellow);
}
.service-card a:hover{
  color: var(--primary-yellow-hover);
}
.service-card p{
  color: var(--primary-grey);
  padding: 5px 0;
}
.service-card i{
  padding: 10px;
  background-color: var(--primary-theme-color);
  border-radius: 50%;
  margin: 5px;
}

/*  portfolio section */

.portfolio-section{
  background-color: var(--primary-light-color); 
  padding: 60px 80px;
  color: var(--primary-white);
}
.portfolio-section h1{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
  justify-content: space-around;
  /* background-color: var(--primary-color-hover); */
}
.tab-link{
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  
}
.tab-link::after{
  content: "";
  width: 0;
  height: 4px;
  background: var(--primary-theme-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-link.active-link::after{
  width: 100%;
}
.tab-contant ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contant ul li span{
  color: var(--primary-grey);
  font-size: 14px;
}
.tab-contant{
  display: none;
}
.tab-contant.active-tab{
  display: block;

}

/* contact section */

.contact-section{
  background-color: var(--primary-color);  
  padding: 60px 80px;
}
.contact-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-area h3{
  color: var(--primary-grey);
  margin-bottom: 20px;
}
.contact-area ol{
  list-style: none;
  color: var(--primary-white);
  font-size: 20px;
}
.contact-area ol li{
  margin-bottom: 20px;
}
.contact-area ol li i{
  font-size: 30px;
  color: var(--primary-grey);
  margin-right: 8px;
}
.contact-area ol li i:hover{
  color: var(--primary-theme-color);
}
.contact-area li a{
  color: var(--primary-grey);
}
.contact-area li a:hover{
  color: var(--primary-theme-color);
}
.contact-area li strong{
  color: var(--primary-white);
}
.contact-section h1{
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}
.contact-section form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-color-hover);
  border-radius: 8px;
}
.contact-section form input,textarea{
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
  outline: none;
}
#msg{
  color: var(--primary-yellow-hover);
  margin-top: 20px;
  display: block;
}

/* education and experience section */

.education-section{
  background-color: var(--primary-light-color);
  padding: 60px 100px;
  color: var(--primary-white);
}
.education-section h1{
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.experience-area{
  display: flex;
  justify-content: space-between;
}
.experience{
  color: var(--primary-grey);
}
.experience h3, .education h3{
  font-size: 30px;
  color: var(--primary-grey);
  margin-bottom: 15px;
}

.education h4{
  color: var(--primary-grey);
  margin-bottom: 10px;
}
.education-contant{
  color: var(--primary-white);
}
/* footer section */
footer{
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px 0;
}
footer p {
  font-size: 12px;
  color: var(--primary-grey);
}
footer p a{
  color: var(--primary-white);
}
footer p a:hover{
  color: var(--primary-theme-color);
}

/* media queries */
@media(max-width: 860px) {
  .header-links{
    position: absolute;
    flex-direction: column;
    height: 100vh;
    top: 0;
    right: -100vh;
    display: none;
    background-color: var(--primary-color);
    justify-content: start;
    padding: 20px;
    transition: right 0.3s ease;
    box-shadow: 2px 5px 15px var(--primary-theme-color);
  }
  header ul{
    margin-top: 40px;
    flex-direction: column;
    line-height: 3rem;
  }
  .cancel-icon{
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    width: 20px;
    height: 20px;
  }
  .menu-icon{
    display: block;
  }
  .hero-section{
    flex-direction: column;
  }
  .service-cards-container{
    flex-direction: column;
  }
  .service-card{
    margin: 10px 0;
  }
  .about-area{
    flex-direction: column;
    padding: 40px 30px;
  }
  .about-area h2{
    font-size: 30px;
  }
  .contact-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
  }
  .experience-area{
    flex-direction: column;
  }
}